@import url(./rainbow.scss);


.home-main{
  display: block;
  flex-grow: 1;
  margin-bottom: 128px;
}

.home-section {
  display: flex;
  padding: calc(var(--vp-nav-height) + var(--vp-layout-top-height, 0px) + 80px) 64px 64px;
}

.home-logo {
  width: 392px;
  height: 295px;
  position: relative;
  margin: 0 auto;
}

.image-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  width: 220px;
  height: 220px;
  background-image: var(--vp-home-hero-image-background-image);
  transform: translate(-50%, -50%);
  mask: url(https://m.hellobike.com/resource/helloyun/13459/tOd8H_logo.png?x-oss-process=image/quality,q_80) no-repeat center 100% / 100%;
  @media screen and (max-width: 800px) {
    width: 180px;
    height: 180px;
  }
}

.logo-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 320px;
  height: 320px;
  transform: translate(-50%,-50%);
  background-image: var(--vp-home-hero-image-background-image);
  filter: var(--vp-home-hero-image-filter);
  opacity: .45;
  transition: opacity 1s ease;
  @media screen and (max-width: 800px) {
    width: 270px;
    height: 270px;
  }
}

.logo-bg:hover {
  opacity: .2;
}


.home-title {
  line-height: 56px;
  font-size: 4.6rem;
  margin: 0 auto;
  font-weight: 700;
  white-space: pre-wrap;
  background: var(--vp-home-hero-name-background);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: var(--vp-home-hero-name-color);
  @media screen and (max-width: 800px) {
    font-size: 3.8rem;
  }
}

.home-subtitle {
  padding-top: 12px;
  font-size: 56px;
  margin: 0 auto;
  display: flex;
  font-weight: 700;
  white-space: pre-wrap;
  @media screen and (max-width: 800px) {
    text-align: center;
    font-size: 34px;
  }
}

.tagline {
  line-height: 36px;
  font-size: 24px;
  color: var(--vp-c-text-2, rgba(60, 60, 67, .78));
  @media screen and (max-width: 800px) {
    text-align: center;
    font-size: 20px;
  }
}

.actions{
  display: flex;
  flex-wrap: no-wrap;
  gap: 0.5rem;
  padding-top: 32px;
  @media screen and (max-width: 800px) {
    text-align: center;
    gap: 0.1rem;
    a, button {
      transform: scale(0.9);
      padding: 0.3rem 0.5rem;
    }
  }
}

.link-btn {
  display: flex;
  align-items: center;
  text-align: center;

  padding: 1rem 1.25rem;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 600;
  transition: background-color .2s ease-out;
}
.get-started {
  background-color: var(--vp-button-brand-bg);
  color: #fff;

  &:hover{
    background-color: var(--vp-button-brand-hover-bg);
    border-color: var(--vp-button-brand-hover-border);
    color: var(--vp-button-brand-hover-text);
  }
}

.btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: #fff;
  border: 1px solid #ced6e0;
  font-family: "__Roboto_Mono_0db19d", "__Roboto_Mono_Fallback_0db19d", Courier New, Courier, monospace;
  color: #001a3a;
  transition: border-color 0.2s ease-out;
  text-align: center;
  padding: 1rem 1.25rem;
  border-radius: 100px;
  font-size: 16px;

  &:hover {
    border-color: #92a0b3;
  }
}

.install-btn {
  .cta-icon {
    position: relative;
  }

  svg {
    display: block;
    vertical-align: middle;
  }

  .copy {
    opacity: 1;
    transition: opacity .2s ease-out,transform .2s ease-out;
  }

  .copy.icon-copied {
    opacity: 0;
    transform: translateY(100%);
  }

  .checkmark.icon-copied {
    opacity: 1;
    transform: translateY(100%);
  }

  .checkmark {
    position: absolute;
    bottom: 100%;
    opacity: 0;
    transform: translateY(0);
    transition: opacity .2s ease-out,transform .2s ease-out;
  }
}

.advantage {
  padding: calc(var(--vp-nav-height) + var(--vp-layout-top-height, 0px)) 64px 64px;
}

.container {
  display: flex;
  margin: 0 auto;
  max-width: 1152px;
  flex-direction: row;
  width: 100%;
  @media screen and (max-width: 960px) {
    flex-direction: column-reverse;
    .home-text > div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.box-group {
  display: grid;
  grid-column-gap: 1em;
  grid-row-gap: 5em;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  @media (min-width: 920px) {
    grid-template-columns: repeat(3, 1fr);
  }

  /* 768px 到 640px 宽度，每行显示 2 个盒子 */
  @media (min-width: 690px) and (max-width: 920px) {
    grid-template-columns: repeat(2, 1fr);
  }

  /* 640px 以下宽度，每行显示 1 个盒子 */
  @media (max-width: 690px) {
    grid-template-columns: repeat(1, 1fr);
  }
  >div,
  a {
    padding: 2em;
    display: block;
    border: 1px solid var(--vp-c-bg-soft);
    border-radius: 12px;
    height: 100%;
    background-color: var(--vp-c-bg-soft);
    transition: border-color .25s, background-color .25s;

    h2 {
      display: flex;
      padding: 0;
      margin: 0 0 0.5em 0;
      font-size: 24px;
      text-align: left;
    }
  }

  .link-box {
    cursor: pointer;
  }
  .link-box:hover {
    border: 1px solid var(--vp-c-brand-1);
  }

  .box-link {
    padding-top: 14px;

    .box-link-text {
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 500;
      color: var(--vp-c-brand-1);

      svg {
        display: inline-block;
        margin-left: 6px;
        width: 14px;
        height: 14px;
        fill: currentColor
      }
    }
  }

  .box1,
  .box2,
  .box3,
  .box4,
  .box5,
  .box6,
  {
    background-color: #f6f6f7;
  }

}

.main-footer {
  padding: 32px;
  position: relative;
  z-index: var(--vp-z-index-footer);
  border-top: 1px solid var(--vp-c-gutter);
  padding: 32px 24px;
  background-color: var(--vp-c-bg);

  .container {
    text-align: center;
    flex-direction: column;
  }

  p{
    line-height: 24px;
    font-size: 14px;
    font-weight: 500;
    color: var(--vp-c-text-2);
  }
}
