@import "highlight.scss";

.doc-content-document {
  position: relative;
  background: #fff;
  padding: 40px;
  &.full {
    padding-right: 100px;
  }
  .card {
    margin-bottom: 24px;
    padding: 24px;
    background-color: #fff;
    border-radius: $quarkui-doc-border-radius;
    box-shadow: 0 8px 12px #ebedf0;
  }

  a {
    margin: 0 1px;
    color: $quarkui-doc-blue;
    -webkit-font-smoothing: auto;

    &:hover {
      color: darken($quarkui-doc-blue, 10%);
    }

    &:active {
      color: darken($quarkui-doc-blue, 20%);
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $quarkui-doc-black;
    font-weight: bold;
    line-height: 1.5;

    &[id] {
      cursor: pointer;
    }
  }

  &.isComponent {
    h1 {
      display: none;
    }
  }

  h1 {
    margin: 0 0 30px;
    font-size: 30px;
    cursor: #1a1a1a;
    font-weight: bold;
    position: relative;
    margin-bottom: 56px;
  }

  h2 {
    margin: 45px 0 20px;
    font-size: 24px;
  }

  h3 {
    margin: 16px 0px;
    font-weight: 600;
    font-size: 20px;
  }

  h4 {
    margin: 24px 0 12px;
    font-weight: 600;
    font-size: 16px;
  }

  h5 {
    margin: 24px 0 12px;
    font-weight: 600;
    font-size: 15px;
  }

  p {
    color: $quarkui-doc-text-color;
    font-size: 14px;
    line-height: 22px;
  }
  strong {
    margin: 24px 0 12px;
    font-weight: bold;
    font-size: 14px;
    color: #333;
  }
  table {
    width: 100%;
    margin-top: 12px;
    color: $quarkui-doc-text-color;
    font-size: 14px;
    line-height: 1.5;
    border-collapse: collapse;
    border: 1px solid #eee;
    th {
      padding: 8px 20px;
      font-weight: 600;
      text-align: left;
      border-left: 1px solid #e9e9e9;
      background-color: #f7f8fa;
      // &:first-child {
      //   padding-left: 0;
      // }

      &:last-child {
        padding-right: 0;
      }
    }

    td {
      padding: 8px 20px;
      border-top: 1px solid $quarkui-doc-code-background-color;
      border-left: 1px solid #e9e9e9;
      &:first-child {
        // padding-left: 0;
        border-left: 0px;
        // version tag
        code {
          margin: 0;
          padding: 2px 6px;
          color: $quarkui-doc-blue;
          font-weight: 600;
          font-size: 11px;
          background-color: fade($quarkui-doc-blue, 10%);
          border-radius: 20px;
        }
      }

      &:last-child {
        padding-right: 0;
      }
    }

    em {
      color: $quarkui-doc-red;
      font-size: 14px;
      font-family: $quarkui-doc-code-font-family;
      font-style: normal;
      -webkit-font-smoothing: auto;
    }
  }

  ul li,
  ol li {
    position: relative;
    margin: 5px 0 5px 10px;
    padding-left: 15px;
    color: $quarkui-doc-text-color;
    font-size: 15px;
    line-height: 26px;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
      width: 6px;
      height: 6px;
      margin-top: 10px;
      border: 1px solid $quarkui-doc-dark-grey;
      border-radius: 50%;
      content: "";
    }
  }

  hr {
    margin: 30px 0;
    border: 0 none;
    border-top: 1px solid #eee;
  }

  p > code,
  li > code,
  table code {
    display: inline;
    margin: 0 2px;
    padding: 2px 5px;
    font-size: 14px;
    font-family: inherit;
    word-break: keep-all;
    background-color: $quarkui-doc-background-color;
    border-radius: 4px;
    -webkit-font-smoothing: antialiased;
  }

  p > code {
    font-size: 14px;
  }

  section {
    padding: 24px;
    overflow: hidden;
  }

  blockquote {
    margin: 16px 0px;
    padding: 16px;
    background-color: #fff4f0;
    border-left: 6px solid $doc-default-color;
    border-radius: 3px;
    p {
      color: #1a1a1a;
    }
  }

  img {
    // width: 100%;
    // margin: 16px 0;
    // border-radius: $quarkui-doc-border-radius;
  }

  &--changelog,
  &--changelog-v3 {
    strong {
      display: block;
      margin: 24px 0 12px;
      font-weight: 600;
      font-size: 15px;
    }

    h3 {
      + p code {
        margin: 0;
      }

      a {
        color: inherit;
        font-size: 20px;
      }
    }
  }
  .handle-part {
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .online-btn {
      display: block;
      color: #5555e2;
      background-color: #fff;
      font-size: 14px;
      cursor: pointer;
      &:hover {
        color: blue;
        text-decoration: underline;
      }
    }
  }
}


.dark {
  --tw-border-opacity: 1;
  --tw-text-opacity: 1;
  --tw-prose-pre-bg: #141f31;
  .doc-content-document h1, .doc-content-document h2, .doc-content-document h3, .doc-content-document h4, .doc-content-document h5, .doc-content-document h6{
    color: white;
  }
  .router-link-active{
    color: white;
  }
  .doc-content-document strong {
    color: rgb(148 163 184/var(--tw-text-opacity));
  }
  .doc-content-document h3 {
    color: rgb(226 232 240/var(--tw-text-opacity));
  }
  .doc-content-document p{
    color: #9ca3af;
  }
  code{
    background-color: var(--tw-prose-pre-bg);
    color: #9ca3b0;
  }
  .hljs-doctag, .hljs-formula, .hljs-keyword{
    color: #bcc4d3;
  }
  .doc-content-document p > code, .doc-content-document li > code, .doc-content-document table code{
    background-color: #1f2938;
    color: #9da3b0;
    font-weight: 600;
  }
  .doc-content-document table td:first-child code{
    color: #9da3b0;
  }
  .doc-content-document table th {
    --tw-bg-opacity: 1;
    background-color: rgb(17 24 39 / var(--tw-bg-opacity));

    border-left: 1px solid;
    border-color: rgb(31 41 55 / var(--tw-border-opacity));
  }
  .doc-content-document table,
  .doc-content-document table td{
    border-color: rgb(31 41 55 / var(--tw-border-opacity));
  }
  .doc-content-document table{
    color: rgb(156 163 175 / var(--tw-text-opacity));
  }
  .doc-content-document h2{
    color: rgb(226 232 240/var(--tw-text-opacity));
  }
  .doc-content-document blockquote {
    background-color: var(--tw-prose-pre-bg);
    color: #93a2b7;
  }
  .doc-content-document{
    min-height: 100vh;
  }
  .doc-content-document ul li, .doc-content-document ol li{
    color: rgb(156 163 175 / var(--tw-text-opacity));
  }
  .doc-content-document blockquote{
    border-color: #38bdf8;
  }
  .hljs-deletion, .hljs-name, .hljs-section, .hljs-selector-tag, .hljs-subst{
    color: #fdc96a;
  }
  .hljs-attr, .hljs-number, .hljs-selector-attr, .hljs-selector-class, .hljs-selector-pseudo, .hljs-template-variable, .hljs-type, .hljs-variable {
    color: #fdc96a;
  }
  .hljs-addition, .hljs-attribute, .hljs-meta-string, .hljs-regexp, .hljs-string{
    color: #f1526f;
  }
  .hljs-strin{
    color: #50a14f;
  }
  
  // JSX for react doc
  .language-jsx {
    color: #9ca3b0;

    .hljs-doctag, .hljs-formula, .hljs-keyword {
      color: #7ea4f5;
    }
  }
}

